.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.container h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: var(--color-dark);
}